/* default style */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--base-size: 12px;
	--gutter-size: calc(3 * var(--base-size));
	--color-primary: black;
	--color-secondary:rgb(183, 158, 89);
	--color--background: rgb(232, 232, 232);
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.gutters {
	padding-inline: var(--gutter-size);
}

@font-face {
	font-family: 'Pangram Sans Compressed';
	src: url('../font/PPPangramSans-CompressedExtrabold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

/* hearder style */
header {
	padding-block: calc(2 * var(--base-size));
	block-size: 30vh;
	transition: block-size var(--transition-slow), padding var(--transition-default);
}

.logo-image {
	width: 10%;
	height: auto;
	transition: width var(--transition-default), padding var(--transition-default), transform 0.7s ease;
}

.logo-image:hover {
	transform: rotate(5deg) scale(1.05);
}

footer {
	background-color: var(--color--background);
	padding-top: var(--base-size);
	padding-bottom: calc(5 * var(--base-size));
}


#main-content {
	block-size: 90vh;
}

body{
	font-family: 'Playfair Display', serif;
	font-size: 18px;
	line-height: 1.8;
	color: #333;
	background-color: #f9f9f9;
	padding: 20px;
}

.profile-image{
	width: 45%;
	height: auto;
}


header h1 {
	font-size:5rem;
	font-weight:700;
	color:rgb(139, 119, 92);
}

h2{
	font-size:1.5rem;
	font-weight:700;
}

section{
	max-width: 800px;
	margin: 0 auto;
	padding: 10px;
	overflow: hidden;
	block-size: 62vh;
}

section ul {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

section li {
	padding: 15px;
	text-align: center;
	transition: transform 0.3s;
}
section li:hover {
	transform: translateY(-5px);
}

section a {
	color: var(--color-secondary);
}

section p {
	margin-bottom: 5px;
	font-size: 1.3rem;
}

section em {
	font-style: italic;
	color: #555;
}

  .main-content::after {
	content: "";
	display: table;
	clear: both;
  }

  .profile-image {
	float: left;
	margin-right: 2rem;
  }

/* Footer Styles */
footer {
	margin-top: 30px;
	font-size: 1.2rem;
}

 
footer {
	padding: 50px;
	text-align: center;
}

footer .links {
	display: flex;
	justify-content: center;
	gap: 30px;
}

footer .links a {
	color: var(--color-primary);
	text-decoration: none;
	font-weight: 500;
	position: relative;
}

footer .links a::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -5px;
	left: 0;
	background-color: var(--color-secondary);
}


/* Responsive Styles */
@media (max-width: 1100px) {
	.profile-image{
		width: 63%;
		height: auto;
		padding-bottom: 20px;
	}
	.logo-image {
		width: 15%;
		height: auto;
	}
	section {
		block-size: 75vh;
	}

	section li {
		padding:2px;
	}
}
 @media (max-width: 750px) {

.logo-image {
	width: 30%;
	padding-left: 20px;
}

section ul {
	grid-template-columns: 1fr;
}

section {
	block-size: 95vh;
}

.profile-image{
	width: 100%;
	height: auto;
	padding-bottom: 20px;
}

header {
	/* background-color: var(--color--background); */
	padding-block: calc(1.5 * var(--base-size));
}

body {
	padding: 0px;
	text-align: center;
}

footer{
	line-height: 4vh;
	margin-top:2px;
}

section li {
	padding:10px;
}

section p {
	font-size:1.6rem;
}

}



