
body {
	--base-size: 12px;
	--gutter-size: calc(3 * var(--base-size));

	--color-primary: black;
	--color-secondary:rgb(183, 158, 89);
	--color--background: rgb(232, 232, 232);
}

@font-face {
	font-family: 'Pangram Sans Compressed';
	src: url('../font/PPPangramSans-CompressedExtrabold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

header {
	/* background-color: var(--color--background); */
	padding-block: calc(4 * var(--base-size));

}

section {
	block-size: 90vh;
}

footer {
	background-color: var(--color--background);
	padding-top: var(--base-size);
	padding-bottom: calc(5 * var(--base-size));
}

.gutters {
	padding-inline: var(--gutter-size);
}

#main-content {
	block-size: 70vh;
}

body{
	font-family: 'Playfair Display', serif;
	font-size: 18px;
	line-height: 1.8;
	color: #333;
	background-color: #f9f9f9;
	padding: 20px;
}
/* 
header{
	margin-bottom: 10px;
} */

  /* Main Content Styles */
  /* .main-content {
	display: flex;
	margin-bottom: 50px;
} */

.profile-image {
	flex: 1;
	margin-right: 40px;
}

.profile-image img {
	width: 100%;
	height: auto;
	border-radius: 2px;
}
header h1 {
	font-size:5rem;
	font-weight:700;
	/* font-family: 'Pangram Sans', sans-serif; */
	color:rgb(139, 119, 92);
}

h2{
	font-size:1.5rem;
	font-weight:700;
}
section{
	max-width: 800px;
	margin: 0 auto;
	padding: 10px;
}

section ul {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

section li {
	padding: 15px;
	text-align: center;
	transition: transform 0.3s;
}
section li:hover {
	transform: translateY(-5px);
}

section a {
	color: var(--color-secondary);
}

section p {
	margin-bottom: 5px;
	font-size: 1.3rem;
}

section em {
	font-style: italic;
	color: #555;
}

/* footer {
	margin-top: 30px;
	font-size: 1rem;
} */

footer p {
	text-align: center;
	padding-top: 50px;
}
